

.navbar {
    height: 35px;
    background-color: #0088cc;
}

.navMenu {
    padding-top: 20px;
    font-size: 10px;
}
.header1 {
    background-color: #0088cc;
    min-height: 106px;
    border-top: 1px solid #0e95d9;

}
.div {
    border: 1px black solid;
    min-height: 106px;
}
.dropdown-item {
    padding: 0px;
    font-size: 10px;
}

.dropdown-menu.show{
    min-width: 25px;
    height: 60px;
    margin: -20px 14px;
}
